dist2pa_km_n_sasck.tif
north_saskatchewan.dbf
north_saskatchewan.prj
north_saskatchewan.shp
north_saskatchewan.shx
north_saskatchewan_25km.dbf
north_saskatchewan_25km.prj
north_saskatchewan_25km.shp
north_saskatchewan_25km.shx
parkland_county_10km.dbf
parkland_county_10km.prj
parkland_county_10km.shp
parkland_county_10km.shx
parkland_county_25km.dbf
parkland_county_25km.prj
parkland_county_25km.shp
parkland_county_25km.shx
dist2pa_km_parkland.tif
parkland_fire_history.tif
parkland_forest_inventory.tif
parkland_forest_inventory.tif.aux.xml
parkland_landcover.tif
parkland_landcover.tif.aux.xml
parkland_ghm.tif
parkland_protected_areas.tif
parkland_protected_areas.tif.aux.xml
parkland_crownlands.tif
parkland_crownlands.tif.aux.xml
parkland_ndvi.tif
biosphere_50km.dbf
biosphere_50km.prj
biosphere_50km.shp
biosphere_50km.shx
biosphere_crownlands.tif
biosphere_crownlands.tif.aux.xml
biosphere_protected_areas.tif
biosphere_protected_areas.tif.aux.xml
dist2pa_km_biosphere.tif
bhb_10km.dbf
bhb_10km.prj
bhb_10km.shp
bhb_10km.shx
bhb_crownlands.tif
bhb_crownlands.tif.aux.xml
bhb_fire_history.tif
bhb_landcover.tif
bhb_landcover.tif.aux.xml
bhb_ndvi.tif
bhb_protected_areas.tif
bhb_protected_areas.tif.aux.xml
bhb_shrubland.tif
dist2pa_km_bhb.tif
bhb_privatelands.tif
conflict_dataframe.dbf
conflict_dataframe.prj
conflict_dataframe.shp
conflict_dataframe.shx
human_dens_crop.tif
AB_CCS.dbf
AB_CCS.prj
AB_CCS.shp
AB_CCS.shx
animal_product_farming.dbf
animal_product_farming.prj
animal_product_farming.shp
animal_product_farming.shx
ground_crop_production.dbf
ground_crop_production.prj
ground_crop_production.shp
ground_crop_production.shx
animal_production_density_raster.tif
combined_farm_density.tif
ground_crop_density_raster.tif
conflict_reports_bhb.dbf
conflict_reports_bhb.prj
conflict_reports_bhb.shp
conflict_reports_bhb.shx
bhb_ghm.tif
dist2roads_km_bhb.tif
bhb_alpine_mix.tif
bhb_broadleaf_mix.tif
bhb_conifer_mix.tif
bhb_drainage_areas.tif
bhb_drainage_areas.tif.aux.xml
dist2drainage_km_bhb.tif
terrain_ruggedness_bhb.tif
alberta_protected_areas.dbf
alberta_protected_areas.prj
alberta_protected_areas.shp
alberta_protected_areas.shx
bhb_50km.dbf
bhb_50km.prj
bhb_50km.shp
bhb_50km.shx
bhb_grassland.tif
bhb_evergreen_500m.tif
elevation_bhb.tif
slope_bhb.tif
bhb_road_density_4km.tif
bhb_road_density_500m.tif
human_dens_bhb.tif
bhb_50km_template_rast.tif
bhb_road_density_1km.tif
bhb_road_density_1km.tif.aux.xml
agnostic_biophys_fuzsum.tif
agnostic_biophys_fuzsum_bhb.tif
agnostic_biophys_resist.tif
agnostic_biophys_resist_bhb.tif
bhb_generalist_lc.tif
bhw_ghm.tif
bhb_agriculture.tif
bhb_roads.tif
bhb_roads.tif.aux.xml
bhb_water_areas.tif
bbear_habitat_suitability.tif
elevation_km_bhb.tif
conflict_unfiltered_dataframe.dbf
conflict_unfiltered_dataframe.prj
conflict_unfiltered_dataframe.shp
conflict_unfiltered_dataframe.shx
conflict_confirmed_dataframe.dbf
conflict_confirmed_dataframe.prj
conflict_confirmed_dataframe.shp
conflict_confirmed_dataframe.shx
conflict_pres_abs_df.dbf
conflict_pres_abs_df.prj
conflict_pres_abs_df.shp
conflict_pres_abs_df.shx
bbear_male_cum_currmap.tif
bbear_male_flow_potential.tif
bbear_male_normalized_cum_currmap.tif
confirmed_reports_full_df.dbf
confirmed_reports_full_df.prj
confirmed_reports_full_df.shp
confirmed_reports_full_df.shx
pres_abs_full_df.dbf
pres_abs_full_df.prj
pres_abs_full_df.shp
pres_abs_full_df.shx
bhb_roads_adjusted.tif
bhw_agriculture_50km.tif
bhw_alpinemix.tif
bhw_alpinemix_50km.tif
bhw_broadleaf.tif
bhw_broadleaf_50km.tif
bhw_conifer.tif
bhw_conifer_50km.tif
bhw_dist2roads.tif
bhw_dist2roads_50km.tif
bhw_dist2water.tif
bhw_dist2water_50km.tif
bhw_elevation.tif
bhw_elevation_50km.tif
bhw_ghm_50km.tif
bhw_grassland.tif
bhw_grassland_50km.tif
bhw_human_mod.tif
bhw_popdens.tif
bhw_popdens_50km.tif
bhw_privateland.tif
bhw_privateland_50km.tif
bhw_roads.tif
bhw_roads_50km.tif
bhw_shrubland.tif
bhw_shrubland_50km.tif
bhw_slope.tif
bhw_slope_50km.tif
bhw_waterways.tif
bhw_waterways_50km.tif
bhw_agriculture.tif
bbear_habitat_bhw.tif
bbear_habitat_bhw_50km.tif
bhb_waterbodies.tif
bhb_waterbodies.tif.aux.xml
bhw_waterbodies.dbf
bhw_waterbodies.prj
bhw_waterbodies.shp
bhw_waterbodies.shx
beaverhill_lake.dbf
beaverhill_lake.prj
beaverhill_lake.shp
beaverhill_lake.shx
beaverhills_lake.tif
bhb_50km_waterbodies.tif
dist2waterbodies_km_bhb.tif
bhw_crownlands.tif
bhw_crownlands_50km.tif
bhw_dist2waterbodies.tif
bhw_dist2waterbodies_50km.tif
bhw_protected_areas.tif
bhw_protected_areas.tif.aux.xml
bhw_protected_areas_50km.tif
bhw_protected_areas_50km.tif.aux.xml
