.Rproj.user
.Rhistory
.RData
.Ruserdata
.secrets
CAN_msk_alt.grd
CAN_msk_alt.gri
CAN_msk_alt.vrt
Bear HSI Variables.jpeg
conflict_data_no_na.dbf
conflict_data_no_na.prj
conflict_data_no_na.shp
conflict_data_no_na.shx
