.DS_Store
Crown_Reservations_2018Dec.cpg
Crown_Reservations_2018Dec.dbf
Crown_Reservations_2018Dec.prj
Crown_Reservations_2018Dec.sbn
Crown_Reservations_2018Dec.sbx
Crown_Reservations_2018Dec.shp
Crown_Reservations_2018Dec.shp.xml
Crown_Reservations_2018Dec.shx
Fire_Perimeter_Data_Standard.pdf
HistoricalWildfirePerimeterSpatialDataChangeLog-June7-2022.pdf
LUF Integrated Plan Region Boundaries Metadata 2011-04-04.pdf
LUF Integrated Regional Plan Boundaries.dbf
LUF Integrated Regional Plan Boundaries.prj
LUF Integrated Regional Plan Boundaries.sbn
LUF Integrated Regional Plan Boundaries.sbx
LUF Integrated Regional Plan Boundaries.shp
LUF Integrated Regional Plan Boundaries.shp.xml
LUF Integrated Regional Plan Boundaries.shx
Lancover_Polygons_2010.cpg
Lancover_Polygons_2010.dbf
Lancover_Polygons_2010.prj
Lancover_Polygons_2010.shp
Lancover_Polygons_2010.shp.xml
Lancover_Polygons_2010.shx
LandcoverMapABMIGuide2010v1.0.pdf
WildfirePerimeters1931to2021v2.CPG
WildfirePerimeters1931to2021v2.dbf
WildfirePerimeters1931to2021v2.prj
WildfirePerimeters1931to2021v2.sbn
WildfirePerimeters1931to2021v2.sbx
WildfirePerimeters1931to2021v2.shp
WildfirePerimeters1931to2021v2.shp.xml
WildfirePerimeters1931to2021v2.shx
forest_inventory.gdbAB_Phase3ForestInventory_Overview.pdf
forest_inventory.gdba00000001.freelist
forest_inventory.gdba00000001.gdbindexes
forest_inventory.gdba00000001.gdbtable
forest_inventory.gdba00000001.gdbtablx
forest_inventory.gdba00000002.gdbtable
forest_inventory.gdba00000002.gdbtablx
forest_inventory.gdba00000003.gdbindexes
forest_inventory.gdba00000003.gdbtable
forest_inventory.gdba00000003.gdbtablx
forest_inventory.gdba00000004.gdbtable
forest_inventory.gdba00000004.gdbtablx
forest_inventory.gdba00000005.freelist
forest_inventory.gdba00000005.gdbindexes
forest_inventory.gdba00000005.gdbtable
forest_inventory.gdba00000005.gdbtablx
forest_inventory.gdba00000006.freelist
forest_inventory.gdba00000006.gdbindexes
forest_inventory.gdba00000006.gdbtable
forest_inventory.gdba00000006.gdbtablx
forest_inventory.gdba00000007.freelist
forest_inventory.gdba00000007.gdbtable
forest_inventory.gdba00000007.gdbtablx
forest_inventory.gdba00000008.freelist
forest_inventory.gdba00000008.gdbtable
forest_inventory.gdba00000008.gdbtablx
forest_inventory.gdba00000017.gdbtable
forest_inventory.gdba00000017.gdbtablx
forest_inventory.gdba00000018.gdbindexes
forest_inventory.gdba00000018.gdbtable
forest_inventory.gdba00000018.gdbtablx
forest_inventory.gdba0000001c.freelist
forest_inventory.gdba0000001c.gdbindexes
forest_inventory.gdba0000001c.gdbtable
forest_inventory.gdba0000001c.gdbtablx
forest_inventory.gdba00000028.FDO_GLOBALID.atx
forest_inventory.gdba00000028.gdbindexes
forest_inventory.gdba00000028.gdbtable
forest_inventory.gdba00000028.gdbtablx
forest_inventory.gdba00000028.spx
forest_inventory.gdba00000029.freelist
forest_inventory.gdba00000029.gdbindexes
forest_inventory.gdba00000029.gdbtable
forest_inventory.gdba00000029.gdbtablx
forest_inventory.gdba00000029.spx
forest_inventory.gdbgdb
forest_inventory.gdbtimestamps
gHMv1_300m_2017_static-0000000000-0000000000.tif
waterbody_2.cpg
waterbody_2.dbf
waterbody_2.prj
waterbody_2.sbn
waterbody_2.sbx
waterbody_2.shp
waterbody_2.shx
CPCAD-BDCAPC_Dec2020.gdba00000001.TablesByName.atx
CPCAD-BDCAPC_Dec2020.gdba00000001.gdbindexes
CPCAD-BDCAPC_Dec2020.gdba00000001.gdbtable
CPCAD-BDCAPC_Dec2020.gdba00000001.gdbtablx
CPCAD-BDCAPC_Dec2020.gdba00000002.gdbtable
CPCAD-BDCAPC_Dec2020.gdba00000002.gdbtablx
CPCAD-BDCAPC_Dec2020.gdba00000003.gdbindexes
CPCAD-BDCAPC_Dec2020.gdba00000003.gdbtable
CPCAD-BDCAPC_Dec2020.gdba00000003.gdbtablx
CPCAD-BDCAPC_Dec2020.gdba00000004.CatItemsByPhysicalName.atx
CPCAD-BDCAPC_Dec2020.gdba00000004.CatItemsByType.atx
CPCAD-BDCAPC_Dec2020.gdba00000004.FDO_UUID.atx
CPCAD-BDCAPC_Dec2020.gdba00000004.freelist
CPCAD-BDCAPC_Dec2020.gdba00000004.gdbindexes
CPCAD-BDCAPC_Dec2020.gdba00000004.gdbtable
CPCAD-BDCAPC_Dec2020.gdba00000004.gdbtablx
CPCAD-BDCAPC_Dec2020.gdba00000004.spx
CPCAD-BDCAPC_Dec2020.gdba00000005.CatItemTypesByName.atx
CPCAD-BDCAPC_Dec2020.gdba00000005.CatItemTypesByParentTypeID.atx
CPCAD-BDCAPC_Dec2020.gdba00000005.CatItemTypesByUUID.atx
CPCAD-BDCAPC_Dec2020.gdba00000005.gdbindexes
CPCAD-BDCAPC_Dec2020.gdba00000005.gdbtable
CPCAD-BDCAPC_Dec2020.gdba00000005.gdbtablx
CPCAD-BDCAPC_Dec2020.gdba00000006.CatRelsByDestinationID.atx
CPCAD-BDCAPC_Dec2020.gdba00000006.CatRelsByOriginID.atx
CPCAD-BDCAPC_Dec2020.gdba00000006.CatRelsByType.atx
CPCAD-BDCAPC_Dec2020.gdba00000006.FDO_UUID.atx
CPCAD-BDCAPC_Dec2020.gdba00000006.gdbindexes
CPCAD-BDCAPC_Dec2020.gdba00000006.gdbtable
CPCAD-BDCAPC_Dec2020.gdba00000006.gdbtablx
CPCAD-BDCAPC_Dec2020.gdba00000007.CatRelTypesByBackwardLabel.atx
CPCAD-BDCAPC_Dec2020.gdba00000007.CatRelTypesByDestItemTypeID.atx
CPCAD-BDCAPC_Dec2020.gdba00000007.CatRelTypesByForwardLabel.atx
CPCAD-BDCAPC_Dec2020.gdba00000007.CatRelTypesByName.atx
CPCAD-BDCAPC_Dec2020.gdba00000007.CatRelTypesByOriginItemTypeID.atx
CPCAD-BDCAPC_Dec2020.gdba00000007.CatRelTypesByUUID.atx
CPCAD-BDCAPC_Dec2020.gdba00000007.gdbindexes
CPCAD-BDCAPC_Dec2020.gdba00000007.gdbtable
CPCAD-BDCAPC_Dec2020.gdba00000007.gdbtablx
CPCAD-BDCAPC_Dec2020.gdba00000009.freelist
CPCAD-BDCAPC_Dec2020.gdba00000009.gdbindexes
CPCAD-BDCAPC_Dec2020.gdba00000009.gdbtable
CPCAD-BDCAPC_Dec2020.gdba00000009.gdbtablx
CPCAD-BDCAPC_Dec2020.gdba00000009.spx
CPCAD-BDCAPC_Dec2020.gdba0000000a.gdbindexes
CPCAD-BDCAPC_Dec2020.gdba0000000a.gdbtable
CPCAD-BDCAPC_Dec2020.gdba0000000a.gdbtablx
CPCAD-BDCAPC_Dec2020.gdba0000000a.spx
CPCAD-BDCAPC_Dec2020.gdbgdb
CPCAD-BDCAPC_Dec2020.gdbtimestamps
CPCAD-BDCAPC_Dec2020.gdb
ForestInventory.gdb
CountyBoundary.cpg
CountyBoundary.dbf
CountyBoundary.prj
CountyBoundary.shp
CountyBoundary.shx
Parkland_County_Boundary.xml
p001r052_TC_2015.tif
p001r052_TC_2015_err.tif
AVHRRCOMP7d_2022.tif
BHB_BOUNDARY.cpg
BHB_BOUNDARY.dbf
BHB_BOUNDARY.prj
BHB_BOUNDARY.sbn
BHB_BOUNDARY.sbx
BHB_BOUNDARY.shp
BHB_BOUNDARY.shp.xml
BHB_BOUNDARY.shx
Beaver Hills Biosphere - all species.csv
Beaver Hills Biosphere - all species.xlsx
AL_TA_AB_2_146_CONFIRMED_eng.cpg
AL_TA_AB_2_146_CONFIRMED_eng.dbf
AL_TA_AB_2_146_CONFIRMED_eng.prj
AL_TA_AB_2_146_CONFIRMED_eng.shp
AL_TA_AB_2_146_CONFIRMED_eng.shx
gpw_v4_population_density_adjusted_to_2015_unwpp_country_totals_rev11_2020_1_deg.tif
gpw_v4_population_density_adjusted_to_2015_unwpp_country_totals_rev11_2020_30_sec.tif
farm type_32100403.csv
farm type_32100403_MetaData.csv
lccs000b16a_e.dbf
lccs000b16a_e.prj
lccs000b16a_e.shp
lccs000b16a_e.shx
92-196-X.pdf
92-500-g2010001-eng.pdf
grnf048r10a_e.dbf
grnf048r10a_e.prj
grnf048r10a_e.shp
grnf048r10a_e.shx
BHB_Subwatershed_Boundary.cpg
BHB_Subwatershed_Boundary.dbf
BHB_Subwatershed_Boundary.prj
BHB_Subwatershed_Boundary.sbn
BHB_Subwatershed_Boundary.sbx
BHB_Subwatershed_Boundary.shp
BHB_Subwatershed_Boundary.shp.xml
BHB_Subwatershed_Boundary.shx
AWW-exp-2022-10-04 black bear.csv
IEM Download_2022-10-01.csv
IEM Download_2022-10-01 .csv
IEM Download_2022-10-01.xls
lccs000b21a_e.dbf
lccs000b21a_e.prj
lccs000b21a_e.shp
lccs000b21a_e.shx
lccs000b21a_e.xml
bf_wmu_polygons-polygon.cpg
bf_wmu_polygons-polygon.dbf
bf_wmu_polygons-polygon.prj
bf_wmu_polygons-polygon.shp
bf_wmu_polygons-polygon.shx
log.txt
aep-hunter-harvest-report-bighorn-sheep-harvest-compulsory-registration-2012-2021.pdf
aep-hunter-harvest-report-elk-2021.pdf
aep-hunter-harvest-report-mule-deer-2021.pdf
aep-hunter-harvest-report-white-tailed-deer-2021.pdf
ungulate_harvest_counts.csv
ungulate_harvest_counts.xlsx
WMU_Biologist_Contact_32611.cpg
WMU_Biologist_Contact_32611.dbf
WMU_Biologist_Contact_32611.prj
WMU_Biologist_Contact_32611.qpj
WMU_Biologist_Contact_32611.shp
WMU_Biologist_Contact_32611.shx
BH ungulate densities.csv
wolf depredation reports.csv
Bear_Clean.csv
landcover reclass.txt
Beaver Hills Biosphere WPCP Summary 2014-2022.xlsx
willdife_predator_compensations.csv
willdife_predator_compensations.xlsx
Pipelines.csv
Pipelines_GCS_NAD83.dbf
Pipelines_GCS_NAD83.prj
Pipelines_GCS_NAD83.shp
Pipelines_GCS_NAD83.shp.xml
Pipelines_GCS_NAD83.shx
Pipelines_NAD83_10TM_AEPForest.dbf
Pipelines_NAD83_10TM_AEPForest.prj
Pipelines_NAD83_10TM_AEPForest.shp
Pipelines_NAD83_10TM_AEPForest.shp.xml
Pipelines_NAD83_10TM_AEPForest.shx
Unmapped Pipelines.csv
Unmapped Pipelines.csv.xml
large_carnivore_sightings.csv
